<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <h1  class="card-title">ABOUT US</h1>
      <p>
      Jungle.com, Inc. is an American multinational technology company that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It has been referred to as "one of the most influential economic and cultural forces in the world", and is one of the world's most valuable brands. It is one of the Big Five American information technology companies, alongside Alphabet, Apple, Meta, and Microsoft.</p>
      <p>
      Jungle was founded by Jeff Bezos from his garage in Bellevue, Washington, on July 5, 1994. Initially an online marketplace for books, it has expanded into a multitude of product categories: a strategy that has earned it the moniker The Everything Store. It has multiple subsidiaries including Jungle Web Services (cloud computing), Zoox (autonomous vehicles), Kuiper Systems (satellite Internet), and Jungle Lab126 (computer hardware R&D). Its other subsidiaries include Ring, Twitch, IMDb, and Whole Foods Market. Its acquisition of Whole Foods in August 2017 for US$13.4 billion substantially increased its footprint as a physical retailer. </p>
      <p>
      Jungle also distributes a variety of downloadable and streaming content through its Jungle Prime Video, Jungle Music, Twitch, and Audible units. It publishes books through its publishing arm, Jungle Publishing, film and television content through Jungle Studios, and has been the owner of film and television studio Metro-Goldwyn-Mayer since March 2022. It also produces consumer electronics—most notably, Kindle e-readers, Echo devices, Fire tablets, and Fire TVs.</p>
    </div>
  </header>
</section>
